public/purchaseOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 (x64) (http://www.altova.com) by Robert Warren (Antarctic Service Contract) -->
<!-- W3C Schema generated by XMLSpy v2017 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="zip" type="xs:int"/>
	<xs:element name="city">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Mill Valley"/>
				<xs:enumeration value="Old Town"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="productName"/>
				<xs:element ref="quantity"/>
				<xs:element ref="USPrice"/>
				<xs:choice>
					<xs:element ref="shipDate"/>
					<xs:element ref="comment"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="partNum" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="872-AA"/>
						<xs:enumeration value="926-AA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Alice Smith"/>
				<xs:enumeration value="Robert Smith"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="state">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CA"/>
				<xs:enumeration value="PA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="billTo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="street"/>
				<xs:element ref="city"/>
				<xs:element ref="state"/>
				<xs:element ref="zip"/>
			</xs:sequence>
			<xs:attribute name="country" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="US"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="shipTo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="street"/>
				<xs:element ref="city"/>
				<xs:element ref="state"/>
				<xs:element ref="zip"/>
			</xs:sequence>
			<xs:attribute name="country" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="US"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="street">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="123 Maple Street"/>
				<xs:enumeration value="8 Oak Avenue"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="USPrice" type="xs:double"/>
	<xs:element name="comment" type="xs:string"/>
	<xs:element name="quantity" type="xs:int"/>
	<xs:element name="shipDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1999-05-21"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="productName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Baby Monitor"/>
				<xs:enumeration value="Lawnmower"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="purchaseOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shipTo"/>
				<xs:element ref="billTo"/>
				<xs:element ref="comment"/>
				<xs:element ref="items"/>
			</xs:sequence>
			<xs:attribute name="orderDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1999-10-20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
